*{
    margin-top: 10pX;
    padding: 0;
    box-sizing: border-box;
} 

.TopPage {
    text-align: center;
    background-color: rgb(211, 206, 192);
    border-width: 100px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10pt;
}
.TopPage h1{
    color: rgb(121, 47, 47);
    text-align:center; 
    font-size: 30px; 
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin-bottom: 0px;

}
.row {
    margin-top: 20px;
    background-image: linear-gradient(to bottom right,rgb(245, 227, 179),rgb(245, 238, 219));
    }
HR{
    color: #2F792F;
    background-color : #2F792F;
    width: 1200px;
    height: 4px;
    border-bottom: 0pt;
}

.container {
    margin-top: 0px;
    background: red;
}
.case img{
    float: left;
    width: 25%;
    padding: 5px;
    height: 300px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(121, 47, 47,0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.img :hover, overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.row::after {
    content:"";
    clear: both;
    display: table;

}
img{
    /*width: 100%;*/
}
