* {
  box-sizing: border-box;
}

body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    
}

/* Style the header */
header {
  background-color: hsl(45, 17%, 64%);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #792F2F;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 50%;
  height: 500px; /* only for demonstration, should be removed */
  background:rgb(211, 206, 192);
  padding: 20px;

}

/* Style the list inside the menu */
nav {
    margin: auto;
    width: 50%;
    padding: 10px;
    
}
nav ul {
  text-align: center;
  margin: auto;
  width: 50%;
  margin-top: 25% ;
  
}
nav ul a {
  font-style: blue;
  font-size: 30px;
  text-decoration: underline;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

section a {
  background-color: #2F7926;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  border-radius: 10pt;
     
}

/* Style the footer */
footer {
  background: linear-gradient(#774545,#792F2F);
  padding: 10px;
  text-align: right;
  color: white;
  height: 60px;
  BA
}

img {
  width: 70px;
  height: 40px
}
footer a img {
    width: 70px;
    height: 40px;
    text align: right;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
