*{
    margin-top: 30pX;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(211, 206, 192);
}
.TopPage {
    text-align: center;
}
.TopPage h1{
    color: #792F2F;
    text-align:center; 
    font-size: 30px; 
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin-bottom: 0px;
}
.TopPage img {
   width:40px; 
   height:60px;
   line-height: 10px;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #792F2F;;
    background-color : #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
label{
    text-decoration:#f1f1f1;
    color : #792F2F;
    font-size: 22px;
    background-color: #f1f1f1;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Pour les input password et username*/
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid ; 
    color : #2F792F;
    box-sizing: border-box;
    font-size: 22px;
    background-color:white;

}
/* Pour input submit */
input{
    background-color:#2F792F;
    color : white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
input[type=submit] :hover {
    background-color:#2F792F;
    color: white;
    border: 1px solid #2F792F;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}