*{
    margin-top: 30pX;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(211, 206, 192);
}

.Column2 {
    column-count: 2;
    align-items: line;
    text-align: center;
}

.ResearchPage{
    flex-basis: 50% ;
    min-width: 800px ;
    margin-left: 160px;
    text-align: left;
}
.MonthlyCalendar {
    text-align: right;
    max-width: 100%;
    

}
h1{
    font-size: 30px; 
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #792F2F;
}
img {
    flex-basis: 100% ;
    margin-top: 30px;
    width: 70px ;
    height: 70px;
    position: bottom, right ;
}